$header-bg-op-0: rgba(23, 18, 38, 0);
$header-bg-op-1: rgba(23, 18, 38, .9);
$header-color: #fff;
$header-height: 4rem;
$header-container-width: 1200px;

$logo-url: '../images/marathons-logo.svg';
$logo-width: 4rem;
$logo-height: 4rem;
$logo-bg-size: 3.5rem;

$header-area: 'bars logo .';
$logo-position: center;
$bars-position: start;

$bars-color: #0096d9;

$font: 'Montserrat', sans-serif;
$font-size: 16px;

