.poster {
    background-image: url('../images/home-lady-runner.jpg');
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background: {
        position: center;
        size: cover;
        attachment: fixed; 
    }

    &--opacity {
        min-height: inherit;
        width: inherit;
        background-color: rgba(23,18,38,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #fff;
        text-align: center;
        font-size: 5vw;
        padding: 0 3vh;
    }
}

.poster--about {
    background-image: url('../images/acerca-runners-steps.jpg');

    .poster__title {
        letter-spacing: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

.poster--marathons {
    background-image: url('../images/maratones-abbott-medal.jpg');
    line-height: 1.4;

    .poster__title {
        letter-spacing: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &-1 {
        background-image: url('../images/maratones-tokyo-panorama.jpg');        
    }

    &-2 {
        background-image: url('../images/maratones-boston-panorama.jpg');        
    }

    &-3 {
        background-image: url('../images/maratones-london-panorama.jpg');        
    }

    &-4 {
        background-image: url('../images/maratones-berlin-panorama.jpg');        
    }

    &-5 {
        background-image: url('../images/maratones-chicago-panorama.jpg');        
    }

    &-6 {
        background-image: url('../images/maratones-new-york-panorama.jpg');        
    }
}

.ls-0 {
    letter-spacing: 0;
}

.font-z {
    font-size: 4vw;
}

.poster--womans {
    background-image: url('../images/mujeres-header.jpg');

    .poster__title {
        letter-spacing: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}
