
.marathon-history {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, 1fit-content);
    grid-gap: 1vw;
    grid-auto-flow: row dense;
    
    &__item {
        border: medium solid #fff;
        padding: 1rem;
        font-size: 2vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        font-weight: normal
      }

      &--img {
          padding: 0;

          img {
              flex: auto;
              max-width: 100%;
              height: auto;
              display: block;
              cursor: pointer;
              transition: 1s;

              &:hover { transform: scale(1.5); }
          }
      }
}