html {
    box-sizing: border-box;
    font-family: $font;
    font-size: $font-size;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(#0096d9, #171226);
}

a {
    color: #fff;
    transition: all .3s ease-out;
    text-decoration: none;

    &:hover {
        color: #0096d9;
        opacity: .75;
        text-decoration: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}