.collage--fast {
  background: -webkit-radial-gradient(circle, #0096D9, #171226);
  background: -o-radial-gradient(circle, #0096D9, #171226);
  background: radial-gradient(circle, #0096D9, #171226);
  min-height: 100vh;
  color: #fff;
  line-height: 1.4;
  padding: 2rem;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto); }
