html {
    box-sizing: border-box;
    font-family: $font;
    font-size: $font-size;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    line-height: 1.4;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(#0096d9, #171226);
}

a {
    color: #fff;
    transition: all .3s ease-out;
    text-decoration: none;

    &:hover {
        color: #0096d9;
        opacity: .75;
        text-decoration: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul { list-style: none;}

.ls-0 { letter-spacing: 0; }

.font-z { font-size: 4vw; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c1xr1 {
    grid-column: span 1;
    grid-row: span 1;
}

.c1xr2 {
    grid-column: span 1;
    grid-row: span 2;
}

.c1xr3 {
    grid-column: span 1;
    grid-row: span 3;
}

.c2xr1 {
    grid-column: span 2;
    grid-row: span 1;
}

.c2xr2 {
    grid-column: span 2;
    grid-row: span 2;
}

.c2xr3 {
    grid-column: span 2;
    grid-row: span 3;
}

.c3xr1 {
    grid-column: span 3;
    grid-row: span 1;
}

.c3xr1 {
    grid-column: span 3;
    grid-row: span 1;
}

.c3xr2 {
    grid-column: span 3;
    grid-row: span 2;
}

.c3xr3 {
    grid-column: span 3;
    grid-row: span 3;
}

.center { text-align: center; }